@import url('https:://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');


.sidebar {
  width: 200px;
  height: 100vh;
  background: #383B44;
}

.sidebar .bar-title {
  width: 200px;
  height: 35px;
  float: left;
  margin: 30px 0 60px;
}

.sidebar .bar-title h1{
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  font-size: 17px;
}



.sidebar ul .nav-button {
  background-color: #383B44;
  border: none;
  outline: none;
  width: 100%;
  padding: 20px;
  display: inline-block;
}

.sidebar ul #searchBtn {
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(225,225,225,0.05);
}

.sidebar ul #addBtn {
  border-bottom: 1px solid rgba(225,225,225,0.05);
  border-top: 1px solid rgba(225,225,225,0.05);
}

.sidebar ul .nav-button h5{
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
}



.sidebar ul .nav-button:hover {
  background-color: #454853;
}
